services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongouser
      MONGO_INITDB_ROOT_PASSWORD: mongopass
      MONGO_INITDB_DATABASE: ai_summarizer
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:8.2
    container_name: redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    command: ['redis-server', '--requirepass', 'redispass']
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
  redis-data:
  uploads-data:
